@charset "UTF-8";
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 6, ../scss/screen.scss */
body {
  height: 100%;
  font: 18px/1.5 "Roboto", sans-serif;
  background-image: url("../img/banNav2.png");
  background-repeat: repeat-x; }
/* line 11, ../scss/screen.scss */
body a {
  text-decoration: none;
  color: #e23836; }
/* line 14, ../scss/screen.scss */
body a:hover {
  text-decoration: underline;
  color: #f45b5b; }
/* line 19, ../scss/screen.scss */
body .homeLogo img {
  position: absolute; }
/* line 22, ../scss/screen.scss */
body .submit, body #order {
  padding: 0.3em 0.5em;
  color: white;
  border: none;
  background-color: #e23836;
  cursor: pointer;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em; }
/* line 29, ../scss/screen.scss */
body .submit:hover, body #order:hover {
  background-color: #f45b5b; }
/* line 33, ../scss/screen.scss */
body .texte {
  padding: 0.5em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border: none; }
/* line 38, ../scss/screen.scss */
body .searchDiv {
  position: relative;
  top: -0.1em; }
/* line 42, ../scss/screen.scss */
body .search {
  position: relative; }
/* line 45, ../scss/screen.scss */
body .into {
  position: absolute;
  cursor: pointer; }
/* line 49, ../scss/screen.scss */
body .add {
  background-image: url("../img/add-26.png");
  background-repeat: no-repeat; }
/* line 54, ../scss/screen.scss */
body .disponibility img {
  padding: 0.5em 0.5em 0 0.5em; }
/* line 57, ../scss/screen.scss */
body .disponibility input {
  float: right;
  text-transform: uppercase;
  margin: 0.75em 0.5em 0 0;
  padding: 0.6em 0.6em 0.6em 2em;
  cursor: pointer; }
/* line 65, ../scss/screen.scss */
body #order {
  padding: 0.5em 1em;
  margin-top: 1em;
  font-size: 16px;
  width: 100%; }
/* line 72, ../scss/screen.scss */
body .titreActuColor {
  padding: 0 1em;
  color: black;
  font-size: 22px; }

/* ESPACE CLIENT */
/* line 81, ../scss/screen.scss */
.user {
  top: 0.01em;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  border-top: none; }
/* line 87, ../scss/screen.scss */
.user .client {
  float: left;
  padding: 0 0.5em; }
/* line 91, ../scss/screen.scss */
.user .panier {
  float: right;
  margin-right: 0.5em; }
/* line 95, ../scss/screen.scss */
.user #cart:before {
  content: url("../img/cart.png");
  padding-right: 0.5em; }

/* MENU */
/* line 103, ../scss/screen.scss */
#menu {
  text-transform: uppercase;
  margin: 11.7em auto 0 auto;
  font-weight: bold;
  position: relative; }
/* line 108, ../scss/screen.scss */
#menu ul {
  list-style-type: none; }
/* line 110, ../scss/screen.scss */
#menu ul .onglets {
  display: block;
  float: left;
  text-align: center; }
/* line 114, ../scss/screen.scss */
#menu ul .onglets .onglet {
  padding: 0.7em 0; }
/* line 118, ../scss/screen.scss */
#menu ul #categorie span {
  color: #e23836; }
/* line 122, ../scss/screen.scss */
#menu #drop-down {
  position: absolute;
  display: block;
  top: 2.2em;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: #e3e3e3;
  color: black;
  z-index: 100;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s; }
/* line 137, ../scss/screen.scss */
#menu #drop-down h3 {
  text-transform: none;
  font-weight: lighter;
  margin: 1em 1em 0 0;
  padding: 0.25em 0;
  border-top: 1px solid #f45b5b;
  border-bottom: 1px solid #f45b5b;
  font-size: 15px;
  text-align: center; }
/* line 147, ../scss/screen.scss */
#menu #drop-down a {
  display: block;
  text-decoration: none;
  text-transform: none;
  font-size: 12px;
  padding-top: 0.5em; }
/* line 155, ../scss/screen.scss */
#menu #drop-down .nav-column {
  float: left; }
/* line 158, ../scss/screen.scss */
#menu #drop-down .dropdownImg {
  float: left;
  padding: 1em 1em 3em 1em; }

/* line 165, ../scss/screen.scss */
#menu > ul > #categorie:hover > #drop-down {
  opacity: 1;
  visibility: visible;
  overflow: visible; }

/* SECTION PRINCIPALE ACCUEIL */
/* line 172, ../scss/screen.scss */
.main {
  /*PAGE PRODUIT */
  /* Panier */
  /* Procédure d'achat */
  /* SECTION PRINCIPALE CATEGORIES */ }
/* line 176, ../scss/screen.scss */
.main .titres, .main .extraInformationsProduct {
  min-height: 18em; }
/* line 178, ../scss/screen.scss */
.main .titres > h2, .main .extraInformationsProduct > h2 {
  font-weight: bold;
  margin-top: 2.5em; }
/* line 183, ../scss/screen.scss */
.main .extraInformationsProduct {
  text-align: center; }
/* line 185, ../scss/screen.scss */
.main .extraInformationsProduct p {
  margin-top: 0.75em; }
/* line 189, ../scss/screen.scss */
.main .presentation {
  text-align: center;
  padding-top: 1.5em; }
/* line 192, ../scss/screen.scss */
.main .presentation #where {
  font-size: 20.3px;
  margin-top: 1em; }
/* line 196, ../scss/screen.scss */
.main .presentation #TitreUn {
  padding: 0 1em;
  text-align: center; }
/* line 199, ../scss/screen.scss */
.main .presentation #TitreUn span {
  padding: 0 1em;
  background-color: white; }
/* line 204, ../scss/screen.scss */
.main .presentation p {
  margin-top: 0.5em; }
/* line 207, ../scss/screen.scss */
.main .presentation .infoVentes {
  color: #535353; }
/* line 212, ../scss/screen.scss */
.main #pageCategorie #TitreUn {
  padding: 0 1em;
  text-align: center; }
/* line 215, ../scss/screen.scss */
.main #pageCategorie #TitreUn span {
  padding: 0 1em;
  background-color: white; }
/* line 221, ../scss/screen.scss */
.main .produit {
  margin: 1.5em 2.16em 1em 1.9em;
  position: relative; }
/* line 224, ../scss/screen.scss */
.main .produit .thumbProduit {
  border: 1px solid #969696; }
/* line 227, ../scss/screen.scss */
.main .produit .prix {
  background-color: #e23836;
  color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  position: absolute;
  font-size: 20px;
  padding: 0.3em;
  top: -1em;
  left: 6em; }
/* line 237, ../scss/screen.scss */
.main .produit .legend {
  width: 8.444em;
  text-align: center;
  border-top: 2px solid #68cef4;
  border-bottom: 2px solid #68cef4;
  min-height: 3em; }
/* line 248, ../scss/screen.scss */
.main .slider {
  position: relative; }
/* line 250, ../scss/screen.scss */
.main .slider img {
  border: 1px solid #969696;
  float: left; }
/* line 254, ../scss/screen.scss */
.main .slider .small {
  position: absolute;
  top: 20.4em; }
/* line 257, ../scss/screen.scss */
.main .slider .small img {
  margin-right: 0.8em; }
/* line 263, ../scss/screen.scss */
.main .descriptionProduit .nom {
  text-transform: uppercase;
  border-top: 2px solid #68cef4;
  border-bottom: 2px solid #68cef4;
  text-align: center;
  font-weight: bold; }
/* line 270, ../scss/screen.scss */
.main .descriptionProduit .prix {
  background-color: #e23836;
  color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  font-size: 20px;
  padding: 0.5em; }
/* line 277, ../scss/screen.scss */
.main .descriptionProduit .breveDescription {
  text-align: center;
  margin: 0.5em 0 1em 0;
  padding: 1em 0;
  color: #535353;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background-color: #e3e3e3; }
/* line 287, ../scss/screen.scss */
.main .tf, .main .tff {
  color: green;
  position: relative;
  top: -0.25em; }
/* line 293, ../scss/screen.scss */
.main .tff {
  color: #ab0000; }
/* line 298, ../scss/screen.scss */
.main .half {
  float: left;
  margin-right: 0.5em; }
/* line 301, ../scss/screen.scss */
.main .half h4 {
  font-weight: bold;
  color: #535353;
  padding: 1em 0 0.5em 0; }
/* line 307, ../scss/screen.scss */
.main .full {
  width: 100%;
  float: left; }
/* line 313, ../scss/screen.scss */
.main .panierAchats {
  margin-top: 1.5em; }
/* line 317, ../scss/screen.scss */
.main #panier #voir, .main .panierAchats #voir {
  display: block; }
/* line 320, ../scss/screen.scss */
.main #panier th, .main .panierAchats th {
  background-color: #e3e3e3;
  color: #535353; }
/* line 324, ../scss/screen.scss */
.main #panier td, .main .panierAchats td {
  padding: 0.5em 1em 0.5em 0.5em; }
/* line 327, ../scss/screen.scss */
.main #panier .quantity, .main .panierAchats .quantity {
  width: 2.5em;
  text-align: center; }
/* line 331, ../scss/screen.scss */
.main #panier .disponibility, .main .panierAchats .disponibility {
  position: relative;
  top: -0.5em; }
/* line 334, ../scss/screen.scss */
.main #panier .disponibility img, .main .panierAchats .disponibility img {
  padding-left: none; }
/* line 338, ../scss/screen.scss */
.main #panier .articles, .main .panierAchats .articles {
  border-bottom: 1px solid #969696; }
/* line 340, ../scss/screen.scss */
.main #panier .articles input, .main .panierAchats .articles input {
  padding: 0.5em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #969696; }
/* line 345, ../scss/screen.scss */
.main .prix {
  color: #ab0000; }
/* line 348, ../scss/screen.scss */
.main .total {
  float: right;
  font-weight: bold; }
/* line 352, ../scss/screen.scss */
.main .confirm {
  text-align: center; }
/* line 355, ../scss/screen.scss */
.main .commande {
  padding: 0 0.5em 0.5em 0.5em;
  font-size: 16px;
  background-color: #e3e3e3;
  border: 1px solid #e23836;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em; }
/* line 362, ../scss/screen.scss */
.main .recap {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #535353; }
/* line 368, ../scss/screen.scss */
.main .strong {
  font-weight: bold; }
/* line 371, ../scss/screen.scss */
.main .sign {
  font-size: 12px;
  text-align: center;
  padding-bottom: 0.5em; }
/* line 378, ../scss/screen.scss */
.main #commandeAdjust {
  margin: 0 auto; }
/* line 380, ../scss/screen.scss */
.main #commandeAdjust #TitreUn {
  padding: 0 1em;
  text-align: center; }
/* line 383, ../scss/screen.scss */
.main #commandeAdjust #TitreUn span {
  padding: 0 1em;
  background-color: white; }
/* line 389, ../scss/screen.scss */
.main .procedureAchat {
  background-color: rgba(248, 90, 89, 0.5); }
/* line 391, ../scss/screen.scss */
.main .procedureAchat li {
  width: 25%;
  float: left;
  text-align: center;
  padding: 0.5em 0;
  color: #535353;
  border-bottom: 0.5em solid #969696; }
/* line 399, ../scss/screen.scss */
.main .procedureAchat .actif {
  color: white;
  background-color: #e23836;
  border-bottom: 0.5em solid #535353; }
/* line 404, ../scss/screen.scss */
.main .procedureAchat .old {
  color: #e3e3e3;
  background-color: #f45b5b;
  border-bottom: 0.5em solid #535353; }
/* line 411, ../scss/screen.scss */
.main .coordonees h3 {
  background-image: url("../img/h2Fond.png");
  background-repeat: repeat-x;
  line-height: 2.6em;
  font-size: 20px; }
/* line 417, ../scss/screen.scss */
.main .coordonees h4 {
  font-weight: bold;
  color: #535353;
  padding-bottom: 0.5em; }
/* line 422, ../scss/screen.scss */
.main .coordonees aside {
  line-height: 1em;
  padding-bottom: 1.5em; }
/* line 426, ../scss/screen.scss */
.main .coordonees label, .main .coordonees #crypto {
  font-size: 15px; }
/* line 430, ../scss/screen.scss */
.main .coordonees form label {
  display: block; }
/* line 433, ../scss/screen.scss */
.main .coordonees form input {
  display: block;
  margin-bottom: 0.75em;
  font-size: 16px;
  padding: 0.5em 0.75em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #969696;
  width: 80%; }
/* line 440, ../scss/screen.scss */
.main .coordonees form select {
  margin-bottom: 1.25em; }
/* line 444, ../scss/screen.scss */
.main .coordonees #facturation {
  margin-top: 0.75em; }
/* line 450, ../scss/screen.scss */
.main .categorie {
  margin-top: 1em; }
/* line 452, ../scss/screen.scss */
.main .categorie .links {
  margin: 1em 1em 0 0;
  float: left; }
/* line 455, ../scss/screen.scss */
.main .categorie .links .sousCat {
  margin: 1.5em 0 0.5em 0; }
/* line 459, ../scss/screen.scss */
.main .categorie .sousCat {
  font-weight: bold;
  color: #535353; }
/* line 463, ../scss/screen.scss */
.main .categorie .thumbCategorie {
  border: 1px solid #969696; }
/* line 466, ../scss/screen.scss */
.main .categorie .description {
  min-height: 7em; }
/* line 469, ../scss/screen.scss */
.main .categorie .article {
  float: left;
  width: 12em;
  margin: 0.5em 2.5em 1em 0; }
/* line 470, ../scss/screen.scss */
.main .categorie .article .ImgProdCat {
  float: left;
  margin: 0.4em 0.5em 0 0;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid #969696; }
/* line 479, ../scss/screen.scss */
.main .categorie .article .cat {
  display: block; }
/* line 483, ../scss/screen.scss */
.main .categorie .article .disponibility img {
  float: left;
  padding-left: 0; }
/* line 487, ../scss/screen.scss */
.main .categorie .article .disponibility .add {
  float: left;
  margin-left: 1em; }
/* line 494, ../scss/screen.scss */
.main .tri {
  background-color: #e3e3e3;
  margin-bottom: 1em; }
/* line 497, ../scss/screen.scss */
.main .tri span, .main .tri legend {
  color: #535353;
  margin-left: 1em; }
/* line 501, ../scss/screen.scss */
.main .tri select, .main .tri legend, .main .tri .critere {
  float: left; }
/* line 504, ../scss/screen.scss */
.main .tri .critere {
  margin-right: 5em; }
/* line 507, ../scss/screen.scss */
.main .tri #select {
  float: right;
  margin: 0.165em 0.265em; }

/* SECTION CONTACT */
/* line 514, ../scss/screen.scss */
.contact {
  /* Connect */ }
/* line 515, ../scss/screen.scss */
.contact h2 {
  text-align: center; }
/* line 518, ../scss/screen.scss */
.contact article.questions {
  padding: 1em 0 3em 0;
  margin: 0 auto; }
/* line 522, ../scss/screen.scss */
.contact article.questions p {
  text-align: center;
  margin-top: 1em; }
/* line 526, ../scss/screen.scss */
.contact article.questions .questions {
  display: block; }
/* line 530, ../scss/screen.scss */
.contact .h-card {
  margin-bottom: 1em; }
/* line 532, ../scss/screen.scss */
.contact .h-card .adresse {
  margin: 1em 0;
  font-weight: bold; }
/* line 536, ../scss/screen.scss */
.contact .h-card .coordonneesInt {
  color: #535353; }
/* line 540, ../scss/screen.scss */
.contact .formulaire {
  margin: 0 auto;
  text-align: center; }
/* line 543, ../scss/screen.scss */
.contact .formulaire p.mdp {
  padding-top: 1em; }
/* line 546, ../scss/screen.scss */
.contact .formulaire form {
  padding-top: 1em; }
/* line 549, ../scss/screen.scss */
.contact .formulaire .formContact {
  display: block;
  padding: 0.5em;
  margin: 0.5em auto 0 auto;
  border: 1px solid #535353;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  font-size: 18px; }
/* line 557, ../scss/screen.scss */
.contact .formulaire #contact {
  background-color: #68cef4;
  font-weight: bold;
  padding: 1em;
  margin-top: 1.5em;
  color: #535353;
  text-transform: uppercase;
  font-size: 15px; }
/* line 565, ../scss/screen.scss */
.contact .formulaire #contact:hover {
  background-color: #b2d9cd; }
/* line 570, ../scss/screen.scss */
.contact .formulaire .contact p {
  padding-top: 1em; }
/* line 577, ../scss/screen.scss */
.contact .connect {
  padding-bottom: 1em; }
/* line 581, ../scss/screen.scss */
.contact #mdp {
  margin: 1.5em 0 0.5em 0; }

/* line 587, ../scss/screen.scss */
footer {
  background-color: #2c2c2c;
  border-top: 2px solid #e23836;
  position: relative;
  margin-top: 3em; }
/* line 592, ../scss/screen.scss */
footer .titreFooter {
  text-transform: uppercase;
  color: white; }
/* line 596, ../scss/screen.scss */
footer .infos {
  float: left;
  background-color: #2c2c2c; }
/* line 599, ../scss/screen.scss */
footer .infos a {
  display: block; }
/* line 603, ../scss/screen.scss */
footer .footerLogo {
  position: relative;
  top: -2em;
  margin: 0 auto;
  width: 2.3em;
  background-color: #e23836;
  padding: 0.5em 0.7em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em; }

/* line 616, ../scss/screen.scss */
#menu:after, .main:after, .titres:after, footer:after, .quoi:after .user:after, .links:after, .contact:after, .formulaire:after, #drop-down:after, .presentation:after, .actuality:after, .procedureAchat:after, .tri:after, .slider:after, .infos:after, .presentationProduit:after {
  content: '';
  clear: both;
  display: block; }

@media only screen and (min-width: 320px) {
  /* line 2, ../scss/_mediaQueries.scss */
  .user {
    width: 100%;
    padding: 0.25em 0; }

  /* line 6, ../scss/_mediaQueries.scss */
  .homeLogo img {
    margin: 3em auto 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; } }
@media only screen and (min-width: 320px) {
  /* line 15, ../scss/_mediaQueries.scss */
  .slider {
    width: 17em;
    margin: 0 auto; }

  /* line 19, ../scss/_mediaQueries.scss */
  .imgProduit {
    margin: 1em 0 8em 0;
    max-width: 286px; }

  /* line 23, ../scss/_mediaQueries.scss */
  .imgProduitSmall {
    max-width: 84px;
    position: relative;
    top: -2em; } }
@media only screen and (min-width: 320px) and (max-width: 500px) {
  /* Bannière et menu */
  /* line 32, ../scss/_mediaQueries.scss */
  #menu {
    width: 100%; }
  /* line 35, ../scss/_mediaQueries.scss */
  #menu ul li {
    width: 33%; }
  /* line 39, ../scss/_mediaQueries.scss */
  #menu .searchDiv {
    width: 100%;
    margin: 1em 0 0 0; }
  /* line 42, ../scss/_mediaQueries.scss */
  #menu .searchDiv .texte {
    border: 1px solid #535353;
    width: 16em;
    font-size: 17px; }
  /* line 47, ../scss/_mediaQueries.scss */
  #menu .searchDiv .into {
    padding: 0.5em 0.75em;
    top: 0.01em;
    left: -3.5em; }

  /* line 54, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 18px;
    text-align: center; }

  /* Drop Down */
  /* line 59, ../scss/_mediaQueries.scss */
  #drop-down {
    width: 100%;
    left: 0; }
  /* line 62, ../scss/_mediaQueries.scss */
  #drop-down .dropdownImg {
    visibility: hidden;
    position: absolute; }
  /* line 66, ../scss/_mediaQueries.scss */
  #drop-down .nav-column {
    width: 17%;
    font-size: 12px;
    padding: 0 1.5em 1em 0.5em; }

  /*Accueil*/
  /* line 73, ../scss/_mediaQueries.scss */
  .main {
    margin-top: 1em; }
  /* line 76, ../scss/_mediaQueries.scss */
  .main .presentation {
    margin: 0 0.5em; }
  /* line 79, ../scss/_mediaQueries.scss */
  .main .produit {
    width: 8.5em;
    margin: 2em auto; }

  /*Contact*/
  /* line 85, ../scss/_mediaQueries.scss */
  .contact {
    margin-top: 1em;
    padding: 0 0.75em; }
  /* line 89, ../scss/_mediaQueries.scss */
  .contact .formulaire input {
    width: 80%;
    text-align: center; }
  /* line 94, ../scss/_mediaQueries.scss */
  .contact #message, .contact .formContact {
    width: 80%; }
  /* line 97, ../scss/_mediaQueries.scss */
  .contact .adresse {
    margin-top: 1em; }

  /* Categorie */
  /* line 102, ../scss/_mediaQueries.scss */
  #pageCategorie {
    text-align: center;
    padding: 0 0.75em; }

  /* line 106, ../scss/_mediaQueries.scss */
  .links {
    text-align: center;
    width: 100%; }
  /* line 109, ../scss/_mediaQueries.scss */
  .links .tri > span {
    float: left;
    margin-top: 0.25em; }
  /* line 113, ../scss/_mediaQueries.scss */
  .links .tri {
    width: 100%;
    font-size: 12px; }

  /* Page produit */
  /* line 119, ../scss/_mediaQueries.scss */
  .slider {
    width: 17em;
    margin: 0 auto; }

  /* line 123, ../scss/_mediaQueries.scss */
  .imgProduit {
    margin: 1em 0 8em 0;
    max-width: 286px; }

  /* line 127, ../scss/_mediaQueries.scss */
  .imgProduitSmall {
    max-width: 84px;
    position: relative;
    top: -2em; }

  /* line 132, ../scss/_mediaQueries.scss */
  .presentation {
    text-align: center; }
  /* line 133, ../scss/_mediaQueries.scss */
  .presentation > h2 {
    margin-top: 1em; }

  /* line 139, ../scss/_mediaQueries.scss */
  .descriptionProduit .nom {
    margin: 0.5em 0 1em 0; }
  /* line 142, ../scss/_mediaQueries.scss */
  .descriptionProduit .prix {
    display: block;
    width: 10em;
    margin: 0 auto 0.75em auto; }

  /* line 148, ../scss/_mediaQueries.scss */
  .titres {
    text-align: center;
    padding: 0 0.75em; }

  /* Panier */
  /* line 153, ../scss/_mediaQueries.scss */
  .commande {
    width: 17em;
    margin: 0 auto; }

  /* line 157, ../scss/_mediaQueries.scss */
  #panier, .panierAchats {
    width: 100%;
    margin-top: 1em;
    font-size: 14px; }
  /* line 161, ../scss/_mediaQueries.scss */
  #panier th, .panierAchats th {
    padding: 0 0.4em; }

  /* line 165, ../scss/_mediaQueries.scss */
  .procedureAchat {
    font-size: 13px; }

  /* line 168, ../scss/_mediaQueries.scss */
  .coordonees {
    width: 17em;
    margin: 0 auto; }
  /* line 171, ../scss/_mediaQueries.scss */
  .coordonees h3 {
    margin-top: 0.75em; }

  /* line 175, ../scss/_mediaQueries.scss */
  .extraInformationsProduct {
    padding: 0 1em; }

  /* Footer */
  /* line 180, ../scss/_mediaQueries.scss */
  footer .infos {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5em; } }
@media only screen and (min-width: 500px) and (max-width: 800px) {
  /* line 189, ../scss/_mediaQueries.scss */
  .user {
    width: 100%;
    padding: 0.25em 0; }

  /* line 193, ../scss/_mediaQueries.scss */
  .homeLogo img {
    margin: 3em auto 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

  /* line 197, ../scss/_mediaQueries.scss */
  #menu {
    width: 100%; }
  /* line 200, ../scss/_mediaQueries.scss */
  #menu ul li {
    width: 33%; }
  /* line 204, ../scss/_mediaQueries.scss */
  #menu .searchDiv {
    width: 100%;
    margin: 1em 0 0 0; }
  /* line 207, ../scss/_mediaQueries.scss */
  #menu .searchDiv .texte {
    border: 1px solid #535353;
    width: 16em;
    font-size: 17px; }
  /* line 212, ../scss/_mediaQueries.scss */
  #menu .searchDiv .into {
    padding: 0.5em 0.75em;
    top: 0.01em;
    left: -3.5em; }

  /* line 219, ../scss/_mediaQueries.scss */
  h2 {
    font-size: 18px;
    text-align: center; }

  /* Drop Down */
  /* line 224, ../scss/_mediaQueries.scss */
  #drop-down {
    width: 100%;
    left: 0; }
  /* line 227, ../scss/_mediaQueries.scss */
  #drop-down .dropdownImg {
    visibility: hidden;
    position: absolute; }
  /* line 231, ../scss/_mediaQueries.scss */
  #drop-down .nav-column {
    width: 18%;
    font-size: 13px;
    padding: 0 1em 1em 1em; }

  /* Contact */
  /* line 238, ../scss/_mediaQueries.scss */
  .formulaire {
    width: 60%; }
  /* line 240, ../scss/_mediaQueries.scss */
  .formulaire .formContact {
    width: 80%; }

  /* Panier */
  /* line 245, ../scss/_mediaQueries.scss */
  .commande {
    width: 20em;
    margin: 2em auto 1em auto; }

  /* line 249, ../scss/_mediaQueries.scss */
  #panier, .panierAchats {
    width: 100%;
    font-size: 17px; }
  /* line 252, ../scss/_mediaQueries.scss */
  #panier th, .panierAchats th {
    padding: 0 0.5em; }

  /* line 256, ../scss/_mediaQueries.scss */
  .total {
    padding-right: 1em; }

  /* line 259, ../scss/_mediaQueries.scss */
  .procedureAchat {
    font-size: 16px; }

  /* line 262, ../scss/_mediaQueries.scss */
  .coordonees {
    width: 17em;
    margin: 0 auto; }
  /* line 265, ../scss/_mediaQueries.scss */
  .coordonees h3 {
    margin-top: 0.75em; }

  /* line 269, ../scss/_mediaQueries.scss */
  .descriptionProduit {
    width: 17em;
    text-align: center;
    margin: 0 auto; }
  /* line 273, ../scss/_mediaQueries.scss */
  .descriptionProduit .nom {
    margin: 0.5em 0 1em 0; }
  /* line 276, ../scss/_mediaQueries.scss */
  .descriptionProduit .prix {
    display: block;
    width: 10em;
    margin: 0 auto 0.75em auto; }

  /* line 282, ../scss/_mediaQueries.scss */
  #pageCategorie {
    text-align: center;
    padding: 0 0.75em; }

  /* line 286, ../scss/_mediaQueries.scss */
  .links {
    text-align: center;
    width: 100%; }
  /* line 289, ../scss/_mediaQueries.scss */
  .links .tri > span {
    float: left;
    margin-top: 0.25em; }
  /* line 293, ../scss/_mediaQueries.scss */
  .links .tri {
    width: 100%;
    font-size: 12px; }

  /* line 298, ../scss/_mediaQueries.scss */
  .extraInformationsProduct {
    width: 25em;
    margin: 0 auto; } }
@media only screen and (min-width: 500px) and (max-width: 950px) {
  /* Accueil */
  /* line 306, ../scss/_mediaQueries.scss */
  .titres {
    padding: 0 0.75em;
    width: 26em;
    margin: 0 auto; }
  /* line 310, ../scss/_mediaQueries.scss */
  .titres .produit {
    float: left;
    margin-top: 1.75em; }
  /* line 314, ../scss/_mediaQueries.scss */
  .titres .plus {
    margin-left: 8em; }

  /* Footer */
  /* line 319, ../scss/_mediaQueries.scss */
  footer {
    margin-top: 17em; }
  /* line 321, ../scss/_mediaQueries.scss */
  footer .infos {
    width: 50%;
    text-align: center;
    padding-bottom: 1.5em;
    min-height: 8em; } }
@media only screen and (min-width: 950px) and (max-width: 1200px) {
  /* Accueil */
  /* line 332, ../scss/_mediaQueries.scss */
  .titres {
    padding: 0 0.75em;
    margin: 0 auto;
    width: 51em; }
  /* line 336, ../scss/_mediaQueries.scss */
  .titres .produit {
    float: left;
    margin-top: 1.75em; }
  /* line 340, ../scss/_mediaQueries.scss */
  .titres .plus {
    margin-left: 2em;
    width: 15em; }
  /* line 344, ../scss/_mediaQueries.scss */
  .titres h2 {
    margin-left: 2em; }

  /* line 349, ../scss/_mediaQueries.scss */
  footer .infos {
    width: 25%;
    text-align: center;
    padding-bottom: 1.5em;
    min-height: 8em; } }
@media only screen and (min-width: 950px) {
  /* line 359, ../scss/_mediaQueries.scss */
  footer .infos {
    width: 25%;
    text-align: center;
    padding-bottom: 1.5em;
    min-height: 8em; }

  /* line 366, ../scss/_mediaQueries.scss */
  .extraInformationsProduct {
    width: 40em;
    margin: 0 auto; } }
@media only screen and (min-width: 800px) and (max-width: 950px) {
  /* line 372, ../scss/_mediaQueries.scss */
  .extraInformationsProduct {
    width: 30em;
    margin: 0 auto; } }
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  /* line 378, ../scss/_mediaQueries.scss */
  #menu {
    width: 100%; }
  /* line 381, ../scss/_mediaQueries.scss */
  #menu ul li {
    width: 25%; }

  /* Drop Down */
  /* line 387, ../scss/_mediaQueries.scss */
  #drop-down {
    width: 100%;
    left: 0; }
  /* line 390, ../scss/_mediaQueries.scss */
  #drop-down .dropdownImg {
    visibility: hidden;
    position: absolute; }
  /* line 394, ../scss/_mediaQueries.scss */
  #drop-down .nav-column {
    width: 20%;
    padding: 0 1em 1em 1em; }

  /* line 399, ../scss/_mediaQueries.scss */
  .question {
    text-align: center; }

  /* Panier */
  /* line 403, ../scss/_mediaQueries.scss */
  .commande {
    width: 20em;
    margin: 2em auto 1em auto; }

  /* Page Produit */
  /* line 408, ../scss/_mediaQueries.scss */
  .descriptionProduit {
    float: left;
    width: 40%;
    position: relative;
    top: 3em; }
  /* line 413, ../scss/_mediaQueries.scss */
  .descriptionProduit .prix {
    position: absolute;
    top: -0.75em;
    left: 13em;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg); }

  /* line 423, ../scss/_mediaQueries.scss */
  .slider {
    float: left;
    width: 47%;
    position: relative;
    left: 4em;
    margin: 2em 2em 0 0; }

  /* line 430, ../scss/_mediaQueries.scss */
  .presentationProduit {
    width: 40em;
    margin: 0 auto; }

  /* line 434, ../scss/_mediaQueries.scss */
  #pageCategorie {
    text-align: center;
    padding: 0 0.75em; }

  /* line 438, ../scss/_mediaQueries.scss */
  .links {
    text-align: center;
    width: 100%; }
  /* line 441, ../scss/_mediaQueries.scss */
  .links .tri > span {
    float: left;
    margin-top: 0.25em; }
  /* line 445, ../scss/_mediaQueries.scss */
  .links .tri {
    width: 100%;
    font-size: 12px; } }
@media only screen and (min-width: 800px) {
  /* line 453, ../scss/_mediaQueries.scss */
  .searchDiv .texte {
    border: 1px solid #535353;
    font-size: 17px;
    position: relative;
    top: -0.3em; }
  /* line 459, ../scss/_mediaQueries.scss */
  .searchDiv .into {
    padding: 0.5em 0.75em;
    font-size: 15px;
    top: -0.65em;
    left: -3.45em; }

  /* line 467, ../scss/_mediaQueries.scss */
  .presentation h2 {
    margin-top: 2em; }

  /* line 472, ../scss/_mediaQueries.scss */
  .formulaire .formContact {
    width: 20em; }

  /* line 477, ../scss/_mediaQueries.scss */
  #panier {
    width: 100%;
    margin: 0 auto;
    font-size: 17px; }
  /* line 481, ../scss/_mediaQueries.scss */
  #panier th {
    padding: 0 0.5em; }

  /* line 485, ../scss/_mediaQueries.scss */
  .panierAchats {
    width: 80%;
    margin: 0 auto;
    font-size: 17px; }
  /* line 489, ../scss/_mediaQueries.scss */
  .panierAchats th {
    padding: 0 0.5em; }

  /* line 493, ../scss/_mediaQueries.scss */
  .total {
    padding-right: 1em; }

  /* line 496, ../scss/_mediaQueries.scss */
  .procedureAchat {
    width: 100%;
    margin: 0 auto;
    font-size: 16px; }

  /* line 501, ../scss/_mediaQueries.scss */
  #commandeAdjust {
    width: 80%; }

  /* line 504, ../scss/_mediaQueries.scss */
  .coordonees {
    width: 47%;
    float: left;
    margin-left: 0.75em; }
  /* line 508, ../scss/_mediaQueries.scss */
  .coordonees h3 {
    margin-top: 0.75em; } }
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* line 514, ../scss/_mediaQueries.scss */
  #menu {
    width: 100%; }
  /* line 517, ../scss/_mediaQueries.scss */
  #menu ul li {
    width: 25%; }

  /* line 526, ../scss/_mediaQueries.scss */
  .titres {
    padding: 0 0.75em;
    margin: 0 auto;
    width: 65em; }
  /* line 530, ../scss/_mediaQueries.scss */
  .titres .produit {
    float: left;
    margin: 1.75em 6em 0 0; }
  /* line 534, ../scss/_mediaQueries.scss */
  .titres .plus {
    width: 15em;
    position: relative;
    top: 13em; }

  /* line 540, ../scss/_mediaQueries.scss */
  #drop-down {
    width: 100%;
    left: 0em; }
  /* line 543, ../scss/_mediaQueries.scss */
  #drop-down .nav-column {
    width: 19%;
    float: left;
    padding: 1em 0; }

  /* line 549, ../scss/_mediaQueries.scss */
  .commande {
    width: 20em;
    margin: 2em auto 1em auto; }

  /* Page Produit */
  /* line 554, ../scss/_mediaQueries.scss */
  .descriptionProduit {
    float: left;
    width: 40%;
    position: relative;
    top: 3em; }
  /* line 559, ../scss/_mediaQueries.scss */
  .descriptionProduit .prix {
    position: absolute;
    top: -0.75em;
    left: 13em;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg); }

  /* line 569, ../scss/_mediaQueries.scss */
  .slider {
    float: left;
    width: 47%;
    position: relative;
    left: 4em;
    margin: 2em 2em 0 0; }

  /* line 576, ../scss/_mediaQueries.scss */
  .presentationProduit {
    width: 40em;
    margin: 0 auto; }

  /* line 580, ../scss/_mediaQueries.scss */
  #pageCategorie {
    text-align: left;
    padding: 0 0.75em;
    width: 30em;
    margin: 0 auto; }
  /* line 585, ../scss/_mediaQueries.scss */
  #pageCategorie .thumbCategorie {
    float: left;
    margin-right: 1.5em; }

  /* line 590, ../scss/_mediaQueries.scss */
  .links {
    text-align: center;
    width: 100%; }
  /* line 593, ../scss/_mediaQueries.scss */
  .links .tri > span {
    float: left;
    margin-top: 0.25em; }
  /* line 597, ../scss/_mediaQueries.scss */
  .links .tri {
    width: 100%;
    font-size: 15px; } }
@media only screen and (min-width: 1500px) {
  /* line 605, ../scss/_mediaQueries.scss */
  #menu {
    width: 55%; }
  /* line 608, ../scss/_mediaQueries.scss */
  #menu ul li {
    width: 25%; }

  /* line 613, ../scss/_mediaQueries.scss */
  .titres {
    padding: 0 0.75em;
    margin: 0 auto;
    width: 70em; }
  /* line 617, ../scss/_mediaQueries.scss */
  .titres .produit {
    float: left;
    margin: 1.75em 6em 0 0; }
  /* line 621, ../scss/_mediaQueries.scss */
  .titres .plus {
    width: 15em;
    position: relative;
    top: 13em; }
  /* line 626, ../scss/_mediaQueries.scss */
  .titres h2 {
    margin-left: 2em; }

  /* Drop Down */
  /* line 631, ../scss/_mediaQueries.scss */
  #drop-down {
    width: 130%;
    left: -9em; }
  /* line 634, ../scss/_mediaQueries.scss */
  #drop-down .nav-column {
    width: 19%;
    float: left;
    padding: 1em 0; }

  /* line 640, ../scss/_mediaQueries.scss */
  .commande {
    width: 20em;
    margin: 2em auto 1em auto; }

  /* Page Produit */
  /* line 646, ../scss/_mediaQueries.scss */
  .descriptionProduit {
    float: left;
    width: 40%;
    position: relative;
    top: 3em; }
  /* line 651, ../scss/_mediaQueries.scss */
  .descriptionProduit .prix {
    position: absolute;
    top: -0.75em;
    left: 13em;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg); }

  /* line 661, ../scss/_mediaQueries.scss */
  .slider {
    float: left;
    width: 47%;
    position: relative;
    left: 4em;
    margin: 2em 2em 0 0; }

  /* line 668, ../scss/_mediaQueries.scss */
  .presentationProduit {
    width: 40em;
    margin: 0 auto; }

  /* line 672, ../scss/_mediaQueries.scss */
  #pageCategorie {
    text-align: left;
    padding: 0 0.75em;
    width: 30em;
    margin: 0 auto; }
  /* line 677, ../scss/_mediaQueries.scss */
  #pageCategorie .thumbCategorie {
    float: left;
    margin-right: 1.5em; }

  /* line 682, ../scss/_mediaQueries.scss */
  .links {
    text-align: center;
    width: 100%; }
  /* line 685, ../scss/_mediaQueries.scss */
  .links .tri > span {
    float: left;
    margin-top: 0.25em; }
  /* line 689, ../scss/_mediaQueries.scss */
  .links .tri {
    width: 100%;
    font-size: 15px; }

  /* line 694, ../scss/_mediaQueries.scss */
  .panierAchats {
    width: 60%;
    margin: 0 auto;
    font-size: 17px; }
  /* line 698, ../scss/_mediaQueries.scss */
  .panierAchats th {
    padding: 0 0.5em; } }
