$redLinks: #e23836;
$redPale: #f85a59;
$redOpacity: rgba(248,90,89,0.5);
$redLinksHover: #f45b5b;
$redDark: #ab0000;

$borderGray: #969696;
$darkGray: #535353;
$veryClearGray: #e3e3e3;

$blueClear: #68cef4;
$bluePale: #b2d9cd;

$whiteOpacity: rgba(255,255,255,0.6);
$blackOpacity: rgba(1,1,1,0.5);
