$rougeLiens: #e23836;
$rougePale: #f85a59;
$rougeOpacity: rgba(248,90,89,0.5);
$rougeLiensHover: #f45b5b;
$rougeFonce: #ab0000;
$grisNav: #e3dfd5;
$fondBody: #f3efe3;
$grisContour: #969696;
$grisFonce: #535353;
$bleuClair: #68cef4;
$bleuPale: #b2d9cd;
$blancTransparent: rgba(255,255,255,0.6);
$noirTransparent: rgba(1,1,1,0.5);
$grisTresClair: #e3e3e3;
