@import "compass";
@import "compass/reset";
@import "colors";

body{
        height: 100%;
        width: 100%;
        font: 18px/1.5 "Roboto Regular" sans-serif;
        background-image: url('../img/banNav2.png');
        background-repeat: repeat-x;
         background-color: white;
        a{
                text-decoration: none;
                color: $rougeLiens;                        
                &:hover{
                        text-decoration: underline;
                        color: $rougeLiensHover;
                }
        }
        div#logo img{
                position: absolute;
                top: 2em; left: 3em;
        }
        .submit{
                padding: 0.3em 0.5em;
                color: white;
                border: none;
                background-color: $rougeLiens;
                cursor: pointer;
                @include border-radius(0.3em);
                &:hover{
                        background-color: $rougeLiensHover;
                }
        }
        .texte{
                padding: 0.5em;
                @include border-radius(0.3em);
                border: none;
        }
        .searchDiv{
                position: relative;
                top: -0.1em;
        }
        .search{
                position: relative;
        }
        .into{
                position: absolute;
                top: 0.125em;
                left: -3em;
                cursor: pointer;
        }
        .add{
                background-image: url('../img/add-26.png');
                background-repeat: no-repeat;
        }
        .disponibility{
                img{
                        padding: 0.5em 0.5em 0 0.5em;
                }
                input{
                        float: right;
                        text-transform: uppercase;
                        margin: 0.5em 0.5em 0 0;
                        padding: 0.6em 0.6em 0.6em 2em;
                        cursor: pointer;
                }
         } 
        #order{
            @extend .submit;
            padding: 0.5em 1em;
            margin-top: 1em;
            font-size: 16px;
            width: 100%;
        }

}

/* ESPACE CLIENT */

div#client{
        left: 52em;
        top: 0.01em;
        padding: 0.7em 0.5em;
        position: absolute;
        background-color: $blancTransparent; //#d7d7d7
        color: white;
        border-top: none;
        .client{
                float: left;
                padding: 0 0.5em;
        }
        #cart:before{
                content: url('../img/cart.png');
                padding-right: 0.5em;
        }
}

/* MENU */

nav#menu {
    text-transform: uppercase;
    width: 58%;
    margin: 0 auto;
    font-weight: bold;
    position: relative;
    top: 11.7em;
        ul{
                list-style-type: none;
                .onglets {
                display: block;
                float: left;
                width: 10em;
                text-align: center;
                -padding: 0px 2.6em;
                -margin: 0px 1em; //vert: #ceea88 orange: #e28a36 orange pale: #F1AA67
                        .onglet{
                                padding: 0.7em 0;
                        }
                }
            #categorie span{
                    color: $rougeLiens;
            }
        }
        #drop-down{
                position: absolute;
                display: block;
                width: 130%;
                top: 2.2em;
                left: -15%;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                background-color: $grisTresClair;
                color: black;
                z-index: 100;
                -webkit-transition: all .3s ease .15s;
            -moz-transition: all .3s ease .15s;
            -o-transition: all .3s ease .15s;
            -ms-transition: all .3s ease .15s;
            transition: all .3s ease .15s;
            h3{
                    text-transform: none;
                    font-weight: lighter;
                    margin: 1em 1em 0 0;
                    padding: 0.25em 0;
                    border-top: 1px solid $rougeLiensHover;
                    border-bottom: 1px solid $rougeLiensHover;
                    font-size: 15px;
                    text-align: center;
            }
            a{
                    display: block;
                    text-decoration: none;
                    text-transform: none;
                    font-size: 12px;
                    padding-top: 0.5em;

            }
            .nav-column{
                    float: left;
                    width: 20%;
                    padding-bottom: 1em;
            }
            .dropdownImg{
                    float:left;
                    padding: 1em 1em 3em 1em;
            }
        }
}

nav#menu > ul > #categorie:hover > #drop-down{
                opacity: 1;
                visibility: visible;
                overflow: visible;
                }

/* SECTION PRINCIPALE ACCUEIL */
 section.main{
         margin: 15em 10em 3em 10em;
         .acutality{
            position: relative;
         }
         h2{
                background-image: url('../img/h2Fond.png');
                background-repeat: repeat-x;
                line-height: 2.25em;
                font-size: 22.9px;
         }
        .titreActu{
                background-color: white;
                padding-right: 1em;
        }
         div.titres{
                 margin-top: 2.5em;
         }
         #presentation{
                 width: 70%;
                 margin: 0 auto;
                 text-align: center;
                 #where{
                         font-size: 20.3px;
                         margin-top: 1em;
                 }
                 #TitreUn{
                         padding: 0 1em;
                         text-align: center;
                         span{
                                 padding: 0 1em;
                                 background-color: white;
                         }
                 }
                 p{
                         margin-top: 0.5em;
                 }
                 .infoVentes{
                         color: $grisFonce;
                 }
          }
          #pageCategorie{
            width: 70%;
            margin: 0 auto;
            #TitreUn{
                 padding: 0 1em;
                 text-align: center;
                 span{
                    padding: 0 1em;
                    background-color: white;
                 }
            }
          }
         .produit{
                 margin: 1.5em 2.16em 1em 1.9em;
                 position: relative;
                 float: left;
                 .thumbProduit{
                         border: 1px solid $grisContour;
                 }
                 .prix{
                         background-color: $rougeLiens;
                         color: white;
                         -font-weight: bold;
                         @include border-radius(0.4em);
                         position: absolute;
                         font-size: 20px;
                         padding: 0.3em;
                        top: -1em;
                        left: 6em;
                 }
                 .legend{
                         width: 8.444em;
                         text-align: center;
                         border-top: 2px solid $bleuClair;
                         border-bottom: 2px solid $bleuClair;
                         min-height:3em;
                 }
         }
        .plus{
                float: right;
                width: 10em;
        }

        /*PAGE PRODUIT */
        
        .slider{
                position: relative;
                img{
                        border: 1px solid $grisContour;
                        float: left;
                }
                .imgProduit{
                        margin: 1em 1em 8em 0;
                }
                .small{
                        position: absolute;
                        top: 20.4em;
                        img{
                                margin-right: 0.8em;
                        }
                }
        }
        .descriptionProduit{
                float: left;
                width: 45%;
                   position: relative;
                .nom{
                        text-transform: uppercase;
                        border-top: 2px solid $bleuClair;
                    border-bottom: 2px solid $bleuClair;
                    margin: 1em 0 1.5em 0;
                    text-align: center;
                    font-weight: bold;
                }
                .prix{
                         background-color: $rougeLiens;
                         color: white;
                         -font-weight: bold;
                         @include border-radius(0.4em);
                         position: absolute;
                         font-size: 20px;
                         padding: 0.5em;
                        top: 0.4em;
                        left: 13em;
                        -webkit-transform:rotate(15deg);
                        -ms-transform:rotate(15deg);
                        -o-transform:rotate(15deg);
                        -moz-transform:rotate(15deg);
                 }
                 .breveDescription{
                         text-align: center;
                         margin: 0.5em 0 1em 0;
                         padding: 1em 0;
                         color: $grisFonce;
                         border-top: 1px solid $grisContour;
                    border-bottom: 1px solid $grisContour;
                    background-color: $grisTresClair;
                 }
        }
        .tf{
                   color: green;
                   position: relative;
                   top: -0.25em;
           }

           .tff{
                   @extend .tf;
                   color: $rougeFonce;
           }

        .half{
                width: 49%;
                float: left;
                margin-right: 0.5em;
                h4{
                        font-weight: bold;
                        color: $grisFonce;
                        padding: 1em 0 0.5em 0;
                }
        }
        .full{
                width: 100%;
                float: left;
        }

        /* Panier */
        #commandeAdjust{
            width: 80%;
            margin: 0 auto;
            #TitreUn{
                padding: 0 1em;
                text-align: center;
                span{
                     padding: 0 1em;
                     background-color: white;
                }
            }
        }
        #panier{
            width: 100%;
                #voir{
                        display: block;
                }
                th{
                        background-color: $grisTresClair;
                        color: $grisFonce;
                        padding: 0.4em 4em 0.4em 0.5em;
                        font-size: 16px;
                }
                td{
                        padding:0.5em 1em 0.5em 0.5em;
                }
                .quantity{
                        width: 2.5em;
                        text-align: center;
                }
                .delete{
                        font-size: 16px;
                }
                .disponibility{
                        position: relative;
                        top: -0.5em;
                        img{
                                padding-left: none;
                        }
                }
                .articles{
                        border-bottom: 1px solid $grisContour;
                }
        }
        .prix{
                color: $rougeFonce;
                -font-weight: bold;
        }
        .total{
                float: right;
                padding: 0.5em 0 1em 0;
                font-weight: bold;
        }
        .confirm{
            text-align: center;
        }
        .commande {
            padding: 0 0.5em 0.5em 0.5em;
            font-size: 16px;
            position: absolute;
            width: 18%;
            left: 63.5em;
            top: 21.6em;
            background-color: $grisTresClair;
            border: 1px solid $rougeLiens;
            @include border-radius(0.25em);
        }
        .adjust {
            top: 25em;
        }
        .recap{
            display: block;
            text-align: center;
            font-size: 20px;
            color: $grisFonce;
        }
        .strong{
            font-weight: bold;
        }
        .sign{
            font-size: 12px;
            text-align: center;
            padding-bottom: 0.5em;
        }

        /* Procédure d'achat */
        ul.procedureAchat{
            background-color: $rougeOpacity;
            li{
                width: 25%;
                float: left;
                text-align: center;
                padding: 0.5em 0;
                color: $grisFonce;
                border-bottom: 0.5em solid $grisContour;
            }
            .actif{
                color: white;
                background-color: $rougeLiens;
                border-bottom: 0.5em solid $grisFonce;
            }
            .old{
                color: $grisTresClair;
                background-color: $rougeLiensHover;
                border-bottom: 0.5em solid $grisFonce;
            }
        }
        .coordonees{
            width: 47%;
            float: left;
            margin-left: 0.75em;
            h3{
                background-image: url('../img/h2Fond.png');
                background-repeat: repeat-x;
                line-height: 2.6em;
                font-size: 20px;
            }
            h4{
                font-weight: bold;
                color: $grisFonce;
                padding-bottom: 0.5em;
            }
            aside{
                line-height: 1em;
                padding-bottom: 1.5em;
            }
            label, #crypto{
                font-size: 15px;
            }
            form{
                label{
                    display: block;
                }
                input{
                    display: block;
                    padding: 0.5em 0.75em;
                    @include border-radius(0.5em);
                    border: 1px solid $grisContour;
                    margin-bottom: 0.75em;
                    width: 80%;
                }
                select{
                    margin-bottom: 1.25em;
                }
            }
            #facturation{
                margin-top: 0.75em;
            }
        }

         /* SECTION PRINCIPALE CATEGORIES */
        .categorie{
                margin-top: 1em;
                .links{
                        margin: 1em 1em 0 0;
                        float: left;
                        .sousCat{
                                margin: 1.5em 0 0.5em 0;
                        }
                }
                .sousCat{
                        font-weight: bold;
                        color: $grisFonce;
                }
                .thumbCategorie{
                        border: 1px solid $grisContour;
                        float: left;
                        margin-right: 1em;
                }
                .description{
                        min-height: 7em;
                }
                .article{
                        .ImgProdCat{
                                float: left;
                                margin: 0.4em 0.5em 0 0;
                                @include border-radius(0.3em);
                                border: 1px solid $grisContour;
                        }
                        float: left;
                        width: 12em;
                        margin: 0.5em 2.5em 1em 0;
                        .cat{
                                display: block;
                        }
                        .disponibility{
                                img{
                                        float: left;
                                        padding-left: 0;                                        
                                }
                                .add{
                                        float: left;
                                        margin-left: 1em;
                                }
                        }
                }
        }
        .tri{
            background-color: $grisTresClair;
            margin-bottom: 1em;
            span,legend{
                    font-size: 15px;
                    color: $grisFonce;
                    margin-left: 1em;
            }
            select, legend,.critere{
                    float: left;
            }
            .critere{
                    margin-right: 5em;
            }
            #select{
                    float: right;
                    margin: 0.165em 0.265em;
            }
        }
 }
        /* SECTION CONTACT */
section.contact{
        margin: 15em 0 0 0;
        h2{
                 background-image: url('../img/h2Fond.png');
                background-repeat: repeat-x;
                line-height: 2.25em;
                text-align: center;
                font-size: 22.9px;
                margin: 3em 10em 1.5em 10em;
         }
         .titreActuColor{
                 background-color: white;
                 padding: 0 1em;
                 color: black;
         }
        article.questions{           
            width: 86.5%;
            padding-bottom: 3em;
            margin: 0 auto;
            p{
                    text-align: center;
            }
            .questions{
                    display: block;
            }
        }
        #sujet{
                width: 68%;
        }
        .formulaire {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                p.mdp{
                    padding-top: 1em;
                }
                form{
                        padding-top: 1em;
                }
                .texte{
                        width: 60%;
                }
                .formContact{
                        display: block;
                        width: 65%;
                        padding: 0.5em;
                        margin: 0.5em auto 0 auto;
                        border: 1px solid $grisFonce;
                        @include border-radius(0.5em);
                        font-size: 18px;
                }
                #contact{
                        background-color: $bleuClair;
                        font-weight: bold;
                        padding: 1em;
                        margin-top: 1.5em;
                        color: $grisFonce;
                        text-transform: uppercase;
                        font-size: 15px;
                        &:hover{
                                background-color: $bleuPale;
                        }
                }
                .contact{
                        p{
                            padding-top: 1em;
                        }
                }
        }

        /* Connect */
        .connect {
            padding-bottom: 1em;
        }

        #mdp {
            margin: 1.5em 0 0.5em 0;
        }
}
        

 footer{
        background-color: #2c2c2c;
         padding: 0em 5em 3em 5em;
         border-top: 2px solid $rougeLiens;
         position: relative;
         .news{
                 width: 17em;
         }
         .titreFooter{
                 text-transform: uppercase;
                 padding-bottom: 1em;
                 color: white;
         }
         .infos{
                 float: left;
                 width: 25%;
                 a{
                         display: block;
                 }
         }
         #logoFooter{
                 position: relative;
                 top: -2em;
                margin: 0 auto;
                width: 2.3em;
                background-color: #e23836;
                padding: 0.5em 0.7em;
                @include border-radius(2em);
         }
 }



nav#menu:after, section.main:after, div.titres:after, footer:after,.quoi:after div#client:after, .links:after, .contact:after, .formulaire:after, #drop-down:after,#presentation:after, .actuality:after, ul.procedureAchat:after{
        content:'';
        clear: both;
        display: block;
}