@import "compass";
@import "compass/reset";
@import "colors";

body{
	height: 100%;
	width: 100%;
	font: 18px/1.5 "Roboto Regular" sans-serif;
	background-image: url('../img/banNav2.png');
	background-repeat: repeat-x;
 	background-color: white;
	a{
		text-decoration: none;
		color: $rougeLiens;			
		&:hover{
			text-decoration: underline;
			color: $rougeLiensHover;
		}
	}
	div#logo img{
		position: absolute;
		top: 2em; left: 2em;
	}
	.submit{
		padding: 0.3em 0.5em;
		color: white;
		border: none;
		background-color: $rougeLiens;
		cursor: pointer;
		@include border-radius(0.3em);
		&:hover{
			background-color: $rougeLiensHover;
		}
	}
	.texte{
		padding: 0.5em;
		@include border-radius(0.3em);
		border: none;
	}
	.searchDiv{
		position: relative;
		top: -0.1em;
	}
	.search{
		position: relative;
	}
	.into{
		position: absolute;
		top: 0.05em;
		left: -3em;
		cursor: pointer;
	}
	.add{
		background-image: url('../img/add-26.png');
		background-repeat: no-repeat;
	}
	.disponibility{
		img{
			padding: 0.5em 0.5em 0 0.5em;
		}
		input{
			float: right;
			text-transform: uppercase;
			margin: 0.5em 0.5em 0 0;
			padding: 0.4em 0.6em 0.4em 2em;
			cursor: pointer;
		}
 	}
}

/* ESPACE CLIENT */

div#client{
	left: 57em;
	top: 0.01em;
	padding: 0.7em 0.5em;
	position: absolute;
	background-color: $blancTransparent; //#d7d7d7
	color: white;
	border-top: none;
	.client{
		float: left;
		padding: 0 0.5em;
	}
	#cart:before{
		content: url('../img/cart.png');
		padding-right: 0.5em;
	}
}

/* MENU */

nav#menu {
    text-transform: uppercase;
	width: 50%;
	margin: 0 auto;
    font-weight: bold;
    position: relative;
    top: 11.7em;
	ul{
		list-style-type: none;
		.onglets {
		display: block;
		float: left;
		padding: 0px 1em;
		margin: 0px 1em; //vert: #ceea88 orange: #e28a36 orange pale: #F1AA67
			.onglet{
				padding: 0.7em 0;
			}
		}
	    #categorie span{
	    	color: $rougeLiens;
	    }
	}
	#drop-down{
		position: absolute;
		display: block;
		width: 130%;
		top: 2.2em;
		left: -15%;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		background-color: $grisTresClair;
		color: black;
		z-index: 100;
		-webkit-transition: all .3s ease .15s;
	    -moz-transition: all .3s ease .15s;
	    -o-transition: all .3s ease .15s;
	    -ms-transition: all .3s ease .15s;
	    transition: all .3s ease .15s;
	    h3{
	    	text-transform: none;
	    	font-weight: lighter;
	    	margin: 1em 1em 0 0;
	    	padding: 0.25em 0;
	    	border-top: 1px solid $rougeLiensHover;
	    	border-bottom: 1px solid $rougeLiensHover;
	    	font-size: 15px;
		    text-align: center;
	    }
	    a{
	    	display: block;
	    	text-decoration: none;
	    	text-transform: none;
	    	font-size: 12px;
	    	padding-top: 0.5em;

	    }
	    .nav-column{
	    	float: left;
		    width: 20%;
		    padding-bottom: 1em;
	    }
	    .dropdownImg{
	    	float:left;
	    	padding: 1em 1em 3em 1em;
	    }
	}
}

nav#menu > ul > #categorie:hover > #drop-down{
		opacity: 1;
		visibility: visible;
		overflow: visible;
		}

/* SECTION PRINCIPALE ACCUEIL */
 section.main{
 	margin: 15em 10em 3em 10em;
 	h2{
 		background-image: url('../img/h2Fond.png');
		background-repeat: repeat-x;
		line-height: 2.6em;
		text-transform: uppercase;
 	}
	.titreActu{
		background-color: white;
		padding-right: 1em;
	}
 	div.titres{
 		margin-top: 2.5em;
 	}
 	#presentation{
 		width: 60%;
 		margin: 0 auto;
 		#where{
 			font-size: 20px;
 			margin-top: 1em;
 		}
 		#TitreUn{
 			padding: 0 1em;
 			text-align: center;
 			span{
 				padding: 0 1em;
 				background-color: white;
 			}
 		}
 		p{
 			margin-top: 0.5em;
 		}
 		.infoVentes{
 			color: $grisFonce;
 		}
  	}
 	.produit{
 		margin: 1.5em 4em 1em 0;
 		position: relative;
 		float: left;
 		.thumbProduit{
 			border: 1px solid $grisContour;
 		}
 		.prix{
 			background-color: $rougeLiens;
 			color: white;
 			font-weight: bold;
 			@include border-radius(0.4em);
 			position: absolute;
 			font-size: 20px;
 			padding: 0.3em;
			top: -1em;
			left: 6em;
 		}
 		.legend{
 			width: 8.444em;
 			text-align: center;
 			border-top: 2px solid $bleuClair;
 			border-bottom: 2px solid $bleuClair;
 			min-height:3em;
 		}
 	}
	.plus{
		float: right;
		width: 10em;
	}

	/*PAGE PRODUIT */
	
	.slider{
		position: relative;
		img{
			border: 1px solid $grisContour;
			float: left;
		}
		.imgProduit{
			margin: 1em 2.5em 8em 0;
		}
		.small{
			position: absolute;
			top: 20.4em;
			img{
				margin-right: 0.8em;
			}
		}
	}
	.descriptionProduit{
		float: left;
		width: 45%;
	   	position: relative;
	   	.tf{
	   		color: green;
	   		position: relative;
	   		top: -0.25em;
	   	}
		.nom{
			text-transform: uppercase;
			border-top: 2px solid $bleuClair;
	    	border-bottom: 2px solid $bleuClair;
	    	margin: 1em 0 1.5em 0;
	    	text-align: center;
	    	font-weight: bold;
		}
		.prix{
 			background-color: $rougeLiens;
 			color: white;
 			font-weight: bold;
 			@include border-radius(0.4em);
 			position: absolute;
 			font-size: 20px;
 			padding: 0.5em;
			top: 0.4em;
			left: 13em;
			-webkit-transform:rotate(15deg);
			-ms-transform:rotate(15deg);
			-o-transform:rotate(15deg);
			-moz-transform:rotate(15deg);
 		}
 		.breveDescription{
 			text-align: center;
 			margin: 0.5em 0 1em 0;
 			padding: 1em 0;
 			color: $grisFonce;
 			border-top: 1px solid $grisContour;
	    	border-bottom: 1px solid $grisContour;
	    	background-color: $grisTresClair;
 		}
	}

	.half{
		width: 48%;
		float: left;
		margin-right: 1em;
		h4{
			font-weight: bold;
			color: $grisFonce;
			padding: 1em 0 0.5em 0;
		}
	}
	.full{
		width: 100%;
		float: left;
	}
	

 	/* SECTION PRINCIPALE CATEGORIES */
	.categorie{
		margin-top: 1em;
		.links{
			margin: 1em 1em 0 0;
			float: left;
			.sousCat{
				margin: 1.5em 0 0.5em 0;
			}
		}
		.sousCat{
			font-weight: bold;
			color: $grisFonce;
		}
		.thumbCategorie{
			border: 1px solid $grisContour;
			float: left;
			margin-right: 1em;
		}
		.description{
			min-height: 7em;
		}
		.article{
			.ImgProdCat{
				float: left;
				margin: 0.4em 0.5em 0 0;
				@include border-radius(0.3em);
				border: 1px solid $grisContour;
			}
			float: left;
			width: 12em;
			margin: 0.5em 2.5em 1em 0;
			.cat{
				display: block;
			}
			.disponibility{
				img{
					float: left;
					padding-left: 0;					
				}
				.add{
					float: left;
					margin-left: 1em;
				}
			}
		}
		.tri{
			background-color: $grisTresClair;
			margin-bottom: 1em;
			span,legend{
				font-size: 15px;
				color: $grisFonce;
				margin-left: 1em;
			}
			select, legend{
				float: left;
				margin: 0.265em;
			}
			#select{
				float: right;
			}
		}
	}
 }
	/* SECTION CONTACT */
section.contact{
	margin: 15em 0 0 0;
	h2{
 		background-image: url('../img/h2Fond.png');
		background-repeat: repeat-x;
		line-height: 2.6em;
		text-transform: uppercase;
		margin: 3em 10em 1.5em 10em;
 	}
 	.titreActuColor{
 		background-color: white;
 		padding-right: 1em;
 		color: black;
 	}
	article.questions{
		width: 75%;
		padding-bottom: 3em;
		margin: 0 auto;
		p{
			text-align: center;
		}
		.questions{
			display: block;
		}
	}
	#sujet{
		width: 69.5%;
	}
	.formulaire {
		width: 60%;
		margin: 0 auto;
		text-align: center;
		form{
			padding-top: 1em;
		}
		.texte{
			width: 60%;
		}
		.formContact{
			display: block;
			width: 65%;
			padding: 1em;
			margin: 0.5em auto 0 auto;
			border: 1px solid $grisFonce;
			@include border-radius(0.5em);
		}
		textarea{
			font-family: "Roboto Regular";
		}
		#contact{
			background-color: $bleuClair;
			font-weight: bold;
			padding: 1em;
			margin-top: 1.5em;
			color: $grisFonce;
			text-transform: uppercase;
			&:hover{
				background-color: $bleuPale;
			}
		}
	}
}
	

 footer{
	background-color: #2c2c2c;
 	padding: 0em 5em 3em 5em;
 	border-top: 2px solid $rougeLiens;
 	position: relative;
 	.news{
 		width: 17em;
 	}
 	.titreFooter{
 		text-transform: uppercase;
 		padding-bottom: 1em;
 		color: white;
 	}
 	.infos{
 		float: left;
 		width: 25%;
 		a{
 			display: block;
 		}
 	}
 	#logoFooter{
 		position: relative;
 		top: -2em;
		margin: 0 auto;
		width: 2.3em;
		background-color: #e23836;
		padding: 0.5em 0.7em;
		@include border-radius(2em);
 	}
 }



nav#menu:after, section.main:after, div.titres:after, footer:after, div#client:after, .links:after, .contact:after, .formulaire:after, #drop-down:after,#presentation:after, .actuality:after{
	content:'';
	clear: both;
	display: block;
}