@import "compass";
@import "compass/reset";
@import "colors";

body{
	height: 100%;
	width: 100%;
	font: 18px/1.5 "Roboto Regular" sans-serif;
	background-image: url('../img/FondNav.png');
	background-repeat: repeat-x;
 	background-color: $fondBody;
	a{
		text-decoration: none;
		color: $rougeLiens;
		&:hover{
			text-decoration: underline;
			color: $rougeLiensHover;
		}
	}
	div#logo img{
		margin: 2em auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}
	.submit{
		padding: 0.3em 0.5em;
		color: white;
		border: none;
		background-color: $rougeLiens;
		@include border-radius(0.3em);
		&:hover{
			background-color: $rougeLiensHover;
		}
	}
	.texte{
		padding: 0.5em;
		@include border-radius(0.3em);
		border: none;
	}
	.searchDiv{
		position: relative;
		top: -0.1em;
	}
	.search{
		position: relative;
	}
	.into{
		position: absolute;
		top: 0.075em;
		left: -3em;
		cursor: pointer;
	}
	.add{
		background-image: url('../img/add-26.png');
		background-repeat: no-repeat;
	}
	.disponibility{
		img{
			padding: 0.5em 0 0 1em;
		}
		input{
			float: right;
			text-transform: uppercase;
			margin: 0.5em 0.5em 0 0;
			padding: 0.4em 0.6em 0.4em 2em;
			cursor: pointer;
		}
 	}
}

/* ESPACE CLIENT */

div#client{
	left: 57em;
	top: 0.01em;
	padding: 1em 0.5em;
	position: absolute;
	background-color: $bleuPale;
	border: 1px solid $grisContour;
	border-top: none;
	.client{
		float: left;
		padding: 0 1em;
	}
	#cart:before{
		content: url('../img/cart.png');
		padding-right: 0.5em;
	}
}

/* MENU */

nav#menu {
	float: right;
    left: -50%;
    position: relative;
    top: -4.3em;
    text-transform: uppercase;
	ul{
		list-style-type: none; 
		padding: 0px; 
		margin: 0px;
		left: 50%;
		position: relative;
		li {
		display: block;
		float: left;
		padding: 0px 1em;
		margin: 0px 1em;
		background-color: $grisNav;
		}
	}
}

/* SECTION PRINCIPALE ACCUEIL */
 section.main{
 	margin: 15em 10em 3em 10em;
 	div.titres{
 		margin-top: 2.5em;
 		h2{
	 		background-image: url('../img/h2Fond.png');
			background-repeat: repeat-x;
			line-height: 2.6em;
			text-transform: uppercase;
 		}
		.titreActu{
			background-color: $fondBody;
			padding-right: 1em;
		}
 	}
 	.produit{
 		margin: 1.5em 4em 1em 0;
 		position: relative;
 		float: left;
 		.thumbProduit{
 			border: 1px solid $grisContour;
 		}
 		.prix{
 			background-color: $rougeLiens;
 			color: white;
 			font-weight: bold;
 			@include border-radius(0.4em);
 			position: absolute;
 			font-size: 20px;
 			padding: 0.3em;
			top: -1em;
			left: 6em;
 		}
 		.legend{
 			width: 8.444em;
 			text-align: center;
 			border-top: 2px solid $bleuClair;
 			border-bottom: 2px solid $bleuClair;
 		}
 	}
	.plus{
		float: right;
		width: 10em;
	}

 	/* SECTION PRINCIPALE CATEGORIES */
	.categorie{
		margin-top: 1em;
		.links{
			margin: 1em 1em 0 0;
			float: left;
		}
		.sousCat{
			font-weight: bold;
			color: $grisFonce;
		}
		.thumbCategorie{
			border: 1px solid $grisContour;
			float: left;
			margin-right: 1em;
		}
		.description{
			min-height: 7em;
		}
		.article{
			.ImgProdCat{
				float: left;
				margin: 0.4em 0.5em 0 0;
				@include border-radius(0.3em);
				border: 1px solid $grisContour;
			}
			float: left;
			width: 12em;
			margin: 0.5em 2.5em 1em 0;
			.cat{
				display: block;
			}
			.disponibility{
				img{
					float: left;
					padding-left: 0;					
				}
				.add{
					float: left;
					margin-left: 1em;
				}
			}
		}
	}
 }

 footer{
 	background-color: $bleuPale;
 	padding: 3em 5em;
 	border-top: 1px solid $bleuClair;
 	position: relative;
 	.news{
 		width: 17em;
 	}
 	.titreFooter{
 		text-transform: uppercase;
 		padding-bottom: 1em;
 	}
 	.infos{
 		float: left;
 		width: 25%;
 		a{
 			display: block;
 		}
 	}
 	#logoFooter{
		position: absolute;
		top: -1.4em;
		left: 40em;
 	}
 }



nav#menu:after, section.main:after, div.titres:after, footer:after, div#client:after, .links:after{
	content:'';
	clear: both;
	display: block;
}